<#@ include file="..\..\ChemObjectConfig.ttinclude" #>

using System.Collections.Generic;

namespace NCDK.Formula
{
    public partial class MolecularFormula : IMolecularFormula
    {
<#
        IncludePropertiesImplementation(false);
#>
    }
}
