<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <probing privatePath="lib;lib\Shimadzu;lib\Bruker;lib\Sciex;lib\ThermoFisher;lib\Agilent;lib\Waters;lib\Reifycs" />
      <!--<dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime.JNI" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Parse" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
