@page "/"
@using CompMs.App.MsdialServer.Project.View
@using CompMs.App.MsdialServer.Dataset.View

<PageTitle>Msdial server</PageTitle>

<h1>Hello, world!</h1>

<ListProjectDataView/>

<SelectDatasetView/>
