@page "/"
@using CompMs.App.MsdialServer.Project.View
@inject NavigationManager _navigation

<PageTitle>Msdial server</PageTitle>

<h3>Select MSDIAL projects</h3>

<ListProjectDataView OnLoaded="NavigateToDatasets"/>

@code {
    private void NavigateToDatasets() {
        _navigation.NavigateTo("/datasets");
    }
}
