<#@ include file="..\..\ChemObjectConfig.ttinclude" #>

// .NET Framework port by Kazuya Ujihara
// Copyright (C) 2016-2017  Kazuya Ujihara <ujihara.kazuya@gmail.com>

/* Copyright (C) 1997-2007  Christoph Steinbeck <steinbeck@users.sf.net>
 *
 *  Contact: cdk-devel@lists.sourceforge.net
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public License
 * as published by the Free Software Foundation; either version 2.1
 * of the License, or (at your option) any later version.
 * All we ask is that proper credit is given for our work, which includes
 * - but is not limited to - adding the above copyright notice to the beginning
 * of your source code files, and to any copyright notice that you may distribute
 * with programs based on this work.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT Any WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 */

using NCDK.Common.Collections;
using System.Collections.Generic;

<#
foreach (var ns in namespaces) 
{
    bool addNofityChanged =  !ns.IsSilent;
#>
namespace <#= ns.NS #>
{
    /// <summary>
    /// The base class for all chemical objects in this cdk. It provides methods for
    /// adding listeners and for their notification of events, as well a a hash
    /// table for administration of physical or chemical properties
    /// </summary>
    // @author        steinbeck
    // @cdk.module data
    public class ChemObject
        : IChemObject
    {
        /*private protected*/
        internal int flags;

        private ICollection<IChemObjectListener> listeners;
        private bool notification = true;

        public virtual IChemObjectBuilder Builder => ChemObjectBuilder.Instance;

        /// <summary>
        /// List for listener administration.
        /// </summary>
        public ICollection<IChemObjectListener> Listeners 
        { 
            get
            {
                if (listeners == null)
<# if (addNofityChanged) { #>
                    listeners = new HashSet<IChemObjectListener>(); 
<# } else { #>
                    listeners = new ImmutableCollection<IChemObjectListener>(); 
<# } #>
                return listeners;
            }
        }

        public bool Notification
        {
            get => notification;
            set => notification = value;
        }

        public bool IsPlaced
        {
            get 
            { 
                return (flags & CDKConstants.IsPlacedMask) != 0;
            }
            
            set
            {
                if (value)
                    flags |= CDKConstants.IsPlacedMask;
                else
                    flags &= ~CDKConstants.IsPlacedMask;
<# if (addNofityChanged) { #>
                NotifyChanged();
<# } #>
            }
        }

        /// <summary>
        /// Flag is set if chemobject has been visited
        /// </summary>
        public bool IsVisited
        {
            get 
            { 
                return (flags & CDKConstants.IsVisitedMask) != 0;
            }
            
            set
            {
                if (value)
                    flags |= CDKConstants.IsVisitedMask;
                else
                    flags &= ~CDKConstants.IsVisitedMask;
<# if (addNofityChanged) { #>
                NotifyChanged();
<# } #>
            }
        }

        /// <summary>
        /// Constructs a new IChemObject.
        /// </summary>
        public ChemObject()
            : this(null)
        {
        }

        /// <summary>
        /// Constructs a new IChemObject by copying the flags, and the. It does not copy the listeners and properties.
        /// </summary>
        /// <param name="chemObject">the object to copy</param>
        public ChemObject(IChemObject chemObject)
        {
            if (chemObject != null)
            {
                // copy the flags
                IsVisited = chemObject.IsVisited;
                IsPlaced = chemObject.IsPlaced;
                // copy the identifier
                id = chemObject.Id;
            }
        }

        /// <summary>
        /// This should be triggered by an method that changes the content of an object
        ///  to that the registered listeners can react to it.
        /// </summary>
        public void NotifyChanged()
        {
<# if (addNofityChanged) { #>
            if (Notification)
                NotifyChanged(new ChemObjectChangeEventArgs(this));
<# } #>
        }

        /// <summary>
        /// This should be triggered by an method that changes the content of an object
        /// to that the registered listeners can react to it. This is a version of
        /// NotifyChanged() which allows to propagate a change event while preserving
        /// the original origin.
        /// </summary>
        /// <param name="evt">A ChemObjectChangeEvent pointing to the source of where the change happened</param>
        public virtual void NotifyChanged(ChemObjectChangeEventArgs evt)
        {
<# if (addNofityChanged) { #>
            if (Notification)
            {
                foreach (var listener in Listeners)
                {
                    listener.OnStateChanged(evt);
                }
            }
<# } #>
        }

<#
        IncludePropertiesImplementation(addNofityChanged);
#>

        public virtual object Clone()
        {
            return Clone(new CDKObjectMap());
        }

        public virtual ICDKObject Clone(CDKObjectMap map)
        {
            var clone = (ChemObject)MemberwiseClone();

            // clone the properties - using the Dictionary copy constructor
            // this doesn't deep clone the keys/values but this wasn't happening
            // already
            clone.SetProperties(this.properties);
            // delete all listeners
            clone.listeners = null;
            return clone;
        }

        /// <summary>
        /// Compares a <see cref="IChemObject"/> with this <see cref="IChemObject"/>.
        /// </summary>
        /// <param name="obj">Object of type <see cref="AtomType"/></param>
        /// <returns><see langword="true"/> if the atom types are equal</returns>
        public virtual bool Compare(object obj)
        {
            return !(obj is IChemObject o) ? false : Id == o.Id;
        }

        private string id;
        /// <summary>
        /// The identifier (ID) of this object.
        /// </summary>
        public string Id
        {
            get { return id; }
            set
            {
                id = value;
<# if (addNofityChanged) { #>
                NotifyChanged();
<# } #>
            }
        }

        public override string ToString() => CDKStuff.ToString(this);
    }
}
<#   
}
#>
