<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <probing privatePath="lib;lib\Shimadzu;lib\Bruker;lib\Sciex;lib\ThermoFisher;lib\Agilent;lib\Waters;lib\Reifycs;lib\Kanomax" />
     
    </assemblyBinding>
  </runtime>
</configuration>